<section class="about-rest">
  <div class="container">
    <div class="about-rest-intro">
      <div class="about-rest-text">
        <h2 class="about-rest-subtitle">Ресторанно-готельний комплекс</h2>
        <h1 class="about-rest-title">Mimiho</h1>
        <p class="about-rest-descr">
          У нашому ресторані до Вас поставляться із максимальною увагою і
          обслужать на найвищому рівні. Тут можна смачно поснідати, вдень
          провести ділову зустріч чи презентацію, а ввечері - призначити
          романтичне побачення, організувати банкет чи відсвяткувати знаменну
          подію.
        </p>
      </div>
      <img
        class="about-rest-interior-img"
        srcset="
          ./images/about-our-kitchen/mobile/restaurant-interior.jpg     244w,
          ./images/about-our-kitchen/tablet/restaurant-interior.jpg     400w,
          ./images/about-our-kitchen/desktop/restaurant-interior.jpg    460w,
          ./images/about-our-kitchen/mobile/restaurant-interior@2x.jpg  488w,
          ./images/about-our-kitchen/tablet/restaurant-interior@2x.jpg  800w,
          ./images/about-our-kitchen/desktop/restaurant-interior@2x.jpg 920w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
        src="./images/about-our-kitchen/mobile/restaurant-interior.jpg"
        alt="restaurant interior"
      />
    </div>
    <div class="about-rest-images">
      <div class="about-rest-conclusion">
        <img
          class="about-rest-facilities-img"
          srcset="
            ./images/about-our-kitchen/mobile/meat.jpg     200w,
            ./images/about-our-kitchen/tablet/meat.jpg     350w,
            ./images/about-our-kitchen/mobile/meat@2x.jpg  400w,
            ./images/about-our-kitchen/desktop/meat.jpg    460w,
            ./images/about-our-kitchen/tablet/meat@2x.jpg  700w,
            ./images/about-our-kitchen/desktop/meat@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, 200px"
          src="./images/about-our-kitchen/mobile/meat.jpg"
          alt="meat on the desk"
        />
        <p class="about-rest-preferences">
          Опинившись у «Міміно», познайомившись із меню, скуштувавши неповторно
          смачні страви і вина, Ви будете повертатися до нас знову і знову.
        </p>
      </div>
      <div class="slider about-rest__slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/slider-flour-194.jpg 194w,
                  ./images/minslider/restaurant/slider-flour-245.jpg 245w,
                  ./images/minslider/restaurant/slider-flour-254.jpg 254w,
                  ./images/minslider/restaurant/slider-flour-388.jpg 388w,
                  ./images/minslider/restaurant/slider-flour-490.jpg 490w,
                  ./images/minslider/restaurant/slider-flour-508.jpg 508w
                "
                src="./images/minslider/restaurant/slider-flour-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="fresh pastries"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/slider-dumplings-194.jpg 194w,
                  ./images/minslider/restaurant/slider-dumplings-245.jpg 245w,
                  ./images/minslider/restaurant/slider-dumplings-254.jpg 254w,
                  ./images/minslider/restaurant/slider-dumplings-388.jpg 388w,
                  ./images/minslider/restaurant/slider-dumplings-490.jpg 490w,
                  ./images/minslider/restaurant/slider-dumplings-508.jpg 508w
                "
                src="./images/minslider/restaurant/slider-dumplings-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="dumplings"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/set-table-194.jpg 194w,
                  ./images/minslider/restaurant/set-table-254.jpg 254w,
                  ./images/minslider/restaurant/set-table-388.jpg 388w,
                  ./images/minslider/restaurant/set-table-508.jpg 508w
                "
                src="./images/minslider/restaurant/set-table-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="table is always set"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/slider-goblet-194.jpg 194w,
                  ./images/minslider/restaurant/slider-goblet-245.jpg 245w,
                  ./images/minslider/restaurant/slider-goblet-254.jpg 254w,
                  ./images/minslider/restaurant/slider-goblet-388.jpg 388w,
                  ./images/minslider/restaurant/slider-goblet-490.jpg 490w,
                  ./images/minslider/restaurant/slider-goblet-508.jpg 508w
                "
                src="./images/minslider/restaurant/slider-goblet-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="goblets of wine"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/breakfast-194.jpg 194w,
                  ./images/minslider/restaurant/breakfast-245.jpg 245w,
                  ./images/minslider/restaurant/breakfast-254.jpg 254w,
                  ./images/minslider/restaurant/breakfast-388.jpg 388w,
                  ./images/minslider/restaurant/breakfast-490.jpg 490w,
                  ./images/minslider/restaurant/breakfast-508.jpg 508w
                "
                src="./images/minslider/restaurant/breakfast-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="breakfast in our hotel"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./images/minslider/restaurant/dinner-194.jpg 194w,
                  ./images/minslider/restaurant/dinner-245.jpg 245w,
                  ./images/minslider/restaurant/dinner-254.jpg 254w,
                  ./images/minslider/restaurant/dinner-388.jpg 388w,
                  ./images/minslider/restaurant/dinner-490.jpg 490w,
                  ./images/minslider/restaurant/dinner-508.jpg 508w
                "
                src="./images/minslider/restaurant/dinner-194.jpg"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                alt="dinner"
              />
            </div>
          </div>
          <!-- swiper-button -->
          <div class="swiper-btns swiper-btns--margin-right">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
