<section class="menu" id="menu">
  <div class="container">
    <h2 class="menu__main-tittle">меню ресторану</h2>
    <div class="menu__list-category">
      <div class="menu__column">
        <div class="menu__category">
          <h3 class="menu__tittle">Гарячі страви</h3>
          <ul class="menu__list">
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Борщ з телятини з квасолею</h4>
                <p class="menu__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu__weight">400&nbsp;г</p>
              <p class="menu__price">240&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Суп сирний з куркою</h4>
                <p class="menu__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu__weight">400&nbsp;г</p>
              <p class="menu__price">200&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Паста карбонара</h4>
                <p class="menu__description">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </p>
              </div>
              <p class="menu__weight">350&nbsp;г</p>
              <p class="menu__price">430&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Стейк зі свинини</h4>
                <p class="menu__description">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </div>
              <p class="menu__weight">400&nbsp;г</p>
              <p class="menu__price">500&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Горбуша в соусі з білого вина</h4>
                <p class="menu__description">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </div>
              <p class="menu__weight">400&nbsp;г</p>
              <p class="menu__price">400&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu__category">
          <h3 class="menu__tittle">Гарніри та закуски</h3>
          <ul class="menu__list">
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Запечені овочі</h4>
                <p class="menu__description">
                  Кабачок, перець, помідор, баклажан
                </p>
              </div>
              <p class="menu__weight">200&nbsp;г</p>
              <p class="menu__price">230&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Картопля фрі</h4>
                <p class="menu__description">Картопля, соус томатний</p>
              </div>
              <p class="menu__weight">150&nbsp;г</p>
              <p class="menu__price">160&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Картопля по-селянськи</h4>
                <p class="menu__description">
                  Картопля, спеції, соус пікантний
                </p>
              </div>
              <p class="menu__weight">150&nbsp;г</p>
              <p class="menu__price">160&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Хрумкі соління з бочки</h4>
                <p class="menu__description">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </div>
              <p class="menu__weight">250&nbsp;г</p>
              <p class="menu__price">350&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Крильця курячі в медовому соусі</h4>
                <p class="menu__description">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </div>
              <p class="menu__weight">400&nbsp;г</p>
              <p class="menu__price">420&nbsp;грн</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu__column">
        <div class="menu__category">
          <h3 class="menu__tittle">Салати</h3>
          <ul class="menu__list">
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Цезар з куркою</h4>
                <p class="menu__description">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">450&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Цезар з креветками</h4>
                <p class="menu__description">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">300&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Грецький салат</h4>
                <p class="menu__description">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">280&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">М’ясний салат</h4>
                <p class="menu__description">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </p>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">300&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu__category">
          <h3 class="menu__tittle">Десерти</h3>
          <ul class="menu__list">
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Торт наполеон</h4>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">300&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Торт маковий</h4>
              </div>
              <p class="menu__weight">230&nbsp;г</p>
              <p class="menu__price">300&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Тірамісу</h4>
              </div>
              <p class="menu__weight">120&nbsp;г</p>
              <p class="menu__price">260&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu__category">
          <h3 class="menu__tittle">Напої</h3>
          <ul class="menu__list">
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Чай чорний/зелений</h4>
              </div>

              <p class="menu__weight">500&nbsp;г</p>
              <p class="menu__price">100&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Еспресо</h4>
              </div>
              <p class="menu__weight">30&nbsp;г</p>
              <p class="menu__price">100&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Американо</h4>
              </div>
              <p class="menu__weight">150&nbsp;г</p>
              <p class="menu__price">100&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Капучино</h4>
              </div>
              <p class="menu__weight">200&nbsp;г</p>
              <p class="menu__price">160&nbsp;грн</p>
            </li>
            <li class="menu__item">
              <div class="menu__wraper">
                <h4 class="menu__name">Лате</h4>
              </div>
              <p class="menu__weight">200&nbsp;г</p>
              <p class="menu__price">160&nbsp;грн</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button
      class="button__booking popup-link menu__button"
      type="button"
      data-popup-btn="table"
    >
      Забронювати столик
    </button>
  </div>
</section>
