<section class="section__about-rest">
  <div class="container about-rest__container">
    <p class="about-rest__logo">Mimiho</p>
    <h2 class="about-rest__rest-title">Ресторан</h2>
    <p class="about-rest__descrip">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit.
    </p>
    <div class="swiper"></div>
    <ul class="btn-list">
      <li><button class="button__booking ">Забронювати столик</button></li>
      <li class="btn-link"><a href="" class="button__booking">Переглянути меню</a></li>
    </ul>
  </div>
</section>