<section class="details-of-rest">
  <div class="container details-of-rest__container">
    <div class="details-of-rest__box-for-text">
      <p class="details-of-rest__logo">Mimiho</p>
      <h2 class="details-of-rest__rest-title">Ресторан</h2>
      <p class="details-of-rest__descrip">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="slider-details details-of-rest__slider-details">
      <div class="swiper swiper-details">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-details">
            <img
              srcset="
                ./images/details-of-rest/image.jpg    1x,
                ./images/details-of-rest/image@2x.jpg 2x
              "
              src="./images/details-of-rest/image.jpg"
              sizes="270px"
              alt="Стейк"
            />
          </div>
          <div class="swiper-slide swiper-slide-details">
            <img
              srcset="
                ./images/details-of-rest/image-3.jpg    1x,
                ./images/details-of-rest/image-3@2x.jpg 2x
              "
              src="./images/details-of-rest/image-3.jpg"
              sizes="270px"
              alt="Шашлик"
            />
          </div>
          <div class="swiper-slide swiper-slide-details">
            <img
              srcset="
                ./images/details-of-rest/image-2.jpg    1x,
                ./images/details-of-rest/image-2@2x.jpg 2x
              "
              src="./images/details-of-rest/image-2.jpg"
              sizes="270px"
              alt="Лаваш та сир"
            />
          </div>
          <div class="swiper-slide swiper-slide-details">
            <img
              srcset="
                ./images/minslider/restaurant/breakfast-254.jpg 1x,
                ./images/minslider/restaurant/breakfast-508.jpg 2x
              "
              src="./images/minslider/restaurant/breakfast-254.jpg"
              sizes="270px"
              alt="breakfast in our hotel"
            />
          </div>
          <div class="swiper-slide swiper-slide-details">
            <img
              srcset="
                ./images/minslider/restaurant/dinner-254.jpg 1x,
                ./images/minslider/restaurant/dinner-508.jpg 2x
              "
              src="./images/minslider/restaurant/dinner-254.jpg"
              sizes="270px"
              alt="dinner"
            />
          </div>
        </div>
      </div>
      <div class="swiper-btns swiper-btns--flex-start swiper-btns--white-color">
        <button type="button" class="swiper-btn swiper-button-prev">
          <svg width="32" height="32">
            <use href="./images/icons-svg.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn swiper-button-next">
          <svg width="32" height="32">
            <use href="./images/icons-svg.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="btn-list">
      <li>
        <button class="button__booking popup-link" data-popup-btn="table">
          Забронювати столик
        </button>
      </li>
      <li class="btn-link">
        <a href="" class="button__booking">Переглянути меню</a>
      </li>
    </ul>
  </div>
</section>
