<section class="details-hotel">
  <div class="container details-hotel__container">
    <div class="details-hotel__text-wrapper">
      <h3 class="details-hotel__uptitle">Mimiho</h3>
      <h2 class="details-hotel__title">Готель</h2>
      <p class="details-hotel__subtitle">
        Готель «Міміно» надає вісім комфортабельних номерів із кабельним
        телебаченням, кондиціонерами, телефонами із прямим виходом на міський
        зв`язок.
      </p>
    </div>

    <div class="details-hotel__box">
      <div class="slider-details-reverse details-hotel__slider-details">
        <div class="swiper swiper-details">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-details">
              <img
                srcset="
                  ./images/homepage_details_hotel_images/details_hotel_pic1.jpg    1x,
                  ./images/homepage_details_hotel_images/details_hotel_pic1_2x.jpg 2x
                "
                src="./images/homepage_details_hotel_images/details_hotel_pic1.jpg"
                sizes="270px"
                alt="Номер в готелі"
              />
              >
            </div>
            <div class="swiper-slide swiper-slide-details">
              <img
                srcset="
                  ./images/homepage_details_hotel_images/details_hotel_pic2.jpg    1x,
                  ./images/homepage_details_hotel_images/details_hotel_pic2@2x.jpg 2x
                "
                src="./images/homepage_details_hotel_images/details_hotel_pic2.jpg"
                alt="Cніданок"
                sizes="270px"
              />
            </div>
            <div class="swiper-slide swiper-slide-details">
              <img
                srcset="
                  ./images/homepage_details_hotel_images/details_hotel_pic3.jpg    1x,
                  ./images/homepage_details_hotel_images/details_hotel_pic3_2x.jpg 2x
                "
                src="./images/homepage_details_hotel_images/details_hotel_pic3.jpg"
                alt="Рецепшн"
                sizes="270px"
              />
            </div>
            <div class="swiper-slide swiper-slide-details">
              <img
                srcset="
                  ./images/homepage_details_hotel_images/details_hotel_pic4.jpg    1x,
                  ./images/homepage_details_hotel_images/details_hotel_pic4@2x.jpg 2x
                "
                src="./images/homepage_details_hotel_images/details_hotel_pic4.jpg"
                alt="Кафе"
                sizes="270px"
              />
            </div>
            <div class="swiper-slide swiper-slide-details">
              <img
                srcset="
                  ./images/homepage_details_hotel_images/details_hotel_pic5.jpg    1x,
                  ./images/homepage_details_hotel_images/details_hotel_pic5@2x.jpg 2x
                "
                src="./images/homepage_details_hotel_images/details_hotel_pic5.jpg"
                alt="Лобі"
                sizes="270px"
              />
            </div>
          </div>
        </div>
        <div class="swiper-btns swiper-btns--white-color">
          <button type="button" class="swiper-btn swiper-button-prev">
            <svg width="32" height="32">
              <use href="./images/icons-svg.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btn swiper-button-next">
            <svg width="32" height="32">
              <use href="./images/icons-svg.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="details-hotel__buttons-list">
        <li>
          <button
            class="button__booking popup-link details-hotel--button-size"
            type="button"
            data-popup-btn="presentation"
          >
            Забронювати номер
          </button>
        </li>
        <li>
          <a
            class="button__booking link-prices details-hotel--button-size"
            href="./hotel.html"
            >Переглянути ціни</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
