<section class="hero-room">
  <div class="hero-room__slider">
    <div class="swiper hero-room__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hero/room/mobile/bed.jpg      414w,
              /src/images/hero/room/mobile/bed@2x.jpg   828w,
              /src/images/hero/room/tablet/bed.jpg     1024w,
              /src/images/hero/room/desktop/bed.jpg    1280w,
              /src/images/hero/room/tablet/bed@2x.jpg  2048w,
              /src/images/hero/room/desktop/bed@2x.jpg 2560w
            "
            src="/src/images/hero/room/mobile/bed.jpg"
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, 414px"
            alt="bed"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hero/room/mobile/interrior.jpg      414w,
              /src/images/hero/room/mobile/interrior@2x.jpg   828w,
              /src/images/hero/room/tablet/interrior.jpg     1024w,
              /src/images/hero/room/desktop/interrior.jpg    1280w,
              /src/images/hero/room/tablet/interrior@2x.jpg  2048w,
              /src/images/hero/room/desktop/interrior@2x.jpg 2560w
            "
            src="/src/images/hero/room/mobile/interrior.jpg"
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, 414px"
            alt="interrior"
          />
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hero/room/mobile/mirror.jpg      414w,
              /src/images/hero/room/mobile/mirror@2x.jpg   828w,
              /src/images/hero/room/tablet/mirror.jpg     1024w,
              /src/images/hero/room/desktop/mirror.jpg    1280w,
              /src/images/hero/room/tablet/mirror@2x.jpg  2048w,
              /src/images/hero/room/desktop/mirror@2x.jpg 2560w
            "
            src="/src/images/hero/room/mobile/mirror.jpg"
            sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, 414px"
            alt="mirror"
          />
        </div>
      </div>
      <div class="hero-room__slider-buttons">
        <button type="button" class="swiper-button-prev slider-button">
          <svg width="32" height="32">
            <use href="./images/icons-svg.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-next slider-button">
          <svg width="32" height="32">
            <use href="./images/icons-svg.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="container hero__pos-box hero-room__box">
    <div class="hero-room__text-box">
      <h1 class="hero-room__title">
        Двомісний номер <span class="common">люкс</span>
      </h1>
      <p class="hero-room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="hero__buttons-box hero-room__buttons-box">
      <a
        class="hero__location hero-room__location"
        href="https://goo.gl/maps/2g48DQjompzcqAej9"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="hero__location-svg">
          <use href="./images/icons-svg.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >

      <ul class="socials hero-room__socials">
        <li>
          <a
            href="https://www.instagram.com/mimino.poltava/"
            class="socials__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon">
              <use href="./images/icons-svg.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=114589595894911&paipv=0&eav=AfZHicpl3DfP3FSeA6k7YVoAoIE5KWMslkjfx73ZjfC_bfpPyVIL2vwkRgul09-waWg&_rdr"
            class="socials__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon">
              <use href="./images/icons-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="socials__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon">
              <use href="./images/icons-svg.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        class="button__booking button__booking--price popup-link hero-room__button"
        type="button"
        data-popup-btn="price"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
