<button class="button__form-booking" type="submit">Оформити бронювання</button>
<button
  class="button__booking popup-link"
  type="button"
  data-popup-btn="presentation"
>
  Забронювати номер
</button>
<button class="button__booking popup-link" type="button" data-popup-btn="table">
  Забронювати столик
</button>
<button
  class="button__booking button__booking--price popup-link"
  type="button"
  data-popup-btn="price"
>
  Детальніше
</button>

<!-- <a class="details-hotel__link" href="./hotel.html">Переглянути ціни</a> -->
