<button class="button__form-booking" type="submit">Оформити бронювання</button>
<button
  class="button__booking popup-link"
  type="button"
  data-popup-btn="presentation"
>
  Забронювати номер
</button>
<button class="button__booking popup-link" type="button" data-popup-btn="table">
  Забронювати столик
</button>
<button
  class="button__booking button__booking--price popup-link"
  type="button"
  data-popup-btn="price"
>
  Переглянути ціни
</button>

<button
  class="room-reserve-btn button__form-booking"
  type="button"
  data-popup-btn="presentation"
>
  Оформити бронювання
</button>

<a class="button__booking" href="./hotel.html">Детальніше</a>
<a class="button__booking" href="#">Переглянути меню</a>
