<header class="header">
  <div class="container header__wrapper">
    <a href="./index.html" class="logo logo--header">Mimiho</a>
    <div class="header__flex-box">
      <a href="./restaurant.html" class="header__link">Ресторан</a>
    <a href="tel:+380955559533" class="header__contact"
      ><svg class="header__contact-icon">
        <use href="./images/icons-svg.svg#icon-phone"></use>
      </svg>
      <span class="header__number">095 555 95 33</span></a
    >
  </div>
    <div class="header__flex-box">
      <a href="./restaurant.html" class="header__link">Готель</a>
    <a href="tel:+380668491089" class="header__contact"
      ><svg class="header__contact-icon">
        <use href="./images/icons-svg.svg#icon-phone"></use>
      </svg>
      <span class="header__number">066 849 10 89</span></a
    ></a
    >
    </div>
    <ul class="socials">
      <li>
        <a href="#" class="socials__link">
          <svg class="socials__icon">
          <use href="./images/icons-svg.svg#icon-inst"></use>
        </svg>
        </a>
      </li>
      <li>
        <a href="#" class="socials__link">
          <svg class="socials__icon">
          <use href="./images/icons-svg.svg#icon-facebook"></use>
        </svg></a>
      </li>
      <li>
        <a href="#" class="socials__link">
          <svg class="socials__icon">
          <use href="./images/icons-svg.svg#icon-telegram"></use>
        </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
