.button__form-booking {
  padding: 20px 40px;

  background-color: var(--swiper-btn-black-color);
  border: 1px solid var(--active-color);
  border-radius: 2px;

  color: var(--swiper-btn-white-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active,
  &:hover,
  &:focus {
    background-color: var(--active-color);
    color: var(--swiper-btn-black-color);
  }

  @media (min-width: 1024px) {
    flex-grow: 2;
    font-size: 24px;
  }
}

.button__booking {
  width: 241px;
  padding: 14px 24px;

  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--swiper-btn-white-color);
  border-radius: 25px;

  color: var(--active-color);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active,
  &:hover,
  &:focus {
    background-color: var(--swiper-btn-white-color);
    border-color: var(--active-color);
  }

  @include tablet {
    width: 241px;
  }

  @include desktop {
    width: 258px;
  }
}

.button__booking--price {
  width: 236px;
  background-color: var(--swiper-btn-black-color);
}

.link-prices {
  display: block;
}
