.details-hotel {
  min-width: 414px;
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: var(--gradient),
    url(../images/homepage_details_hotel_images/background/details_hotel_bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: var(--gradient),
      url(../images/homepage_details_hotel_images/background/details_hotel_bg_mob_2x.jpg);
  }

  @include tablet {
    padding-top: 48px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url(../images/homepage_details_hotel_images/background/details_hotel_bg_tab.jpg);

    @include retina {
      background-image: var(--gradient),
        url(../images/homepage_details_hotel_images/background/details_hotel_bg_tab_2x.jpg);
    }
  }

  @include desktop {
    background-image: var(--gradient),
      url(../images/homepage_details_hotel_images/background/details_hotel_bg_desk.jpg);

    @include retina {
      background-image: var(--gradient),
        url(../images/homepage_details_hotel_images/background/details_hotel_bg_desk_2x.jpg);
    }
  }
}

.details-hotel__container {
  @include desktop {
    padding-left: 52px;
  }
}

.details-hotel__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 125px;
  @include tablet {
    padding-right: 231px;
  }
  @include desktop {
    padding-right: 253px;
    // padding-left: 445px;
  }
}

.details-hotel__uptitle {
  font-family: 'Film P3';
  font-size: 40px;
  line-height: calc(43px / 40px);
  letter-spacing: 0.3em;
  text-transform: uppercase;

  margin-bottom: 12px;
  color: var(--titles-color);
  transform: translateX(18px);

  @include tablet {
    font-size: 64px;
    line-height: calc(69px / 64px);

    margin-bottom: 16px;
  }
}

.details-hotel__title {
  font-size: 20px;
  line-height: calc(24px / 20px);
  letter-spacing: 0.02em;

  margin-bottom: 20px;
  color: var(--titles-color);

  @include tablet {
    font-size: 24px;
    line-height: calc(29px / 24px);

    margin-bottom: 8px;
  }
}

.details-hotel__subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15px / 12px);
  letter-spacing: 0.02em;
  text-align: left;

  margin-bottom: 48px;

  color: var(--subtitle-text-color);

  @include tablet {
    text-align: right;
    font-size: 16px;
    line-height: calc(20px / 16px);

    margin-bottom: 40px;
  }
}

.details-hotel__box {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-direction: column;
  @include tablet {
    align-items: flex-start;
    flex-direction: row;
  }
}

.details-hotel__buttons-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  @include tablet {
    padding-top: 150px;
  }
}

.details-hotel--button-size {
  width: 236px;
}

.details-hotel__slider-details {
  transform: translateX(-21px);
  @include tablet {
    transform: none;
  }
}
