.hero {
  min-width: 414px;
  padding-bottom: 102px;

  background-color: rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero-homepage {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero/homepage/hero-homepage-mobile.jpg);
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/homepage/hero-homepage-mobile@2x.jpg);
  }
  // Tablet
  @include tablet {
    padding-bottom: 64px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/homepage/hero-homepage-tablet.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/homepage/hero-homepage-tablet@2x.jpg);
    }
  }

  // Desktop
  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/homepage/hero-homepage.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/homepage/hero-homepage@2x.jpg);
    }
  }
}

.hero-hotel {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero/hotel/hero-hotel-mobile.jpg);
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/hotel/hero-hotel-mobile@2x.jpg);
  }
  // Tablet
  @include tablet {
    padding-bottom: 64px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/hotel/hero-hotel-tablet.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/hotel/hero-hotel-tablet@2x.jpg);
    }
  }

  // Desktop
  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/hotel/hero-hotel.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/hotel/hero-hotel@2x.jpg);
    }
  }
}

.hero-restaurant {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero/restaurant/hero-restaurant-mobile.jpg);
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/restaurant/hero-restaurant-mobile@2x.jpg);
  }
  // Tablet
  @include tablet {
    padding-bottom: 64px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/restaurant/hero-restaurant-tablet.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/restaurant/hero-restaurant-tablet@2x.jpg);
    }
  }

  // Desktop
  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero/restaurant/hero-restaurant.jpg);
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero/restaurant/hero-restaurant@2x.jpg);
    }
  }
}

.hero__pos-box {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 0px;
  }
}

.hero__title {
  margin-bottom: 24px;

  color: var(--titles-color);
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  transform: translateX(15px);

  @include tablet {
    margin-bottom: 16px;
    font-size: 128px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.hero__subtitle {
  margin-bottom: 40px;
  color: var(--titles-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  @include tablet {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }

  @include desktop {
    margin-bottom: 64px;
  }
}

.hero__subtitle--margin {
  margin-bottom: 178px;
  @include tablet {
    margin-bottom: 218px;
  }
  @include desktop {
    margin-bottom: 242px;
  }
}

.hero__slogan {
  margin-bottom: 113px;
  text-transform: uppercase;
  color: var(--titles-color);
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  @include tablet {
    margin-bottom: 137px;
    font-size: 36px;
    line-height: 1.14;
  }
}

.hero__location {
  position: absolute;
  top: 64px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 8px;
  width: 211px;
  height: 47px;
  padding: 8px 6px;

  color: var(--address-color);
  border: 1px solid var(--half-transparent-icons);
  border-radius: 2px;

  text-align: left;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;

  @include tablet {
    display: inline-flex;
    gap: 10px;
    position: static;
    margin-right: 68px;
    width: 285px;
    height: 56px;
    font-size: 16px;
  }

  @include desktop {
    margin-right: 186px;
  }
}

.hero__location-svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  fill: var(--active-color);

  @include tablet {
    width: 24px;
    height: 24px;
  }
}

.socials {
  position: absolute;
  bottom: -82px;
  left: 15px;
  display: flex;
  gap: 20px;

  @include tablet {
    left: 47px;
    bottom: -49px;
  }

  @include desktop {
    top: 38px;
    left: 1083px;
    z-index: 2000;
  }
}

.socials__icon {
  width: 24px;
  height: 24px;
  fill: var(--active-color);
}

.hero__buttons-box {
  display: inline-flex;
  gap: 24px;
  flex-direction: column;
  @include tablet {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

////////////////////////
.hero-room__text-box {
  z-index: 100;
  margin-bottom: 17px;
}
.hero-room__title {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: var(--titles-color);
  text-transform: uppercase;
  margin-bottom: 14px;
  max-width: 325px;
  @media screen and (min-width: 1024px) {
    font-size: 36px;
    margin-bottom: 24px;
    max-width: 100%;
  }
}

.hero-room__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  max-width: 325px;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    max-width: 400px;
  }
}

.hero-room {
  position: relative;
  min-width: 414px;
  height: 740px;
}
.hero-room__box {
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include tablet {
    padding-bottom: 22px;
  }
}

.hero-room__socials {
  position: static;
  flex-direction: column;
  gap: 8px;

  bottom: 0;
  left: 0;
  @include tablet {
    flex-direction: row;
    gap: 20px;
  }
  @include desktop {
    position: absolute;
    top: 38px;
    left: 1083px;
  }
}

.hero-room__buttons-box {
  // position: absolute;
  // bottom: 18px;
  display: flex;
  z-index: 100;
  gap: 70px;

  align-items: center;
  flex-direction: row;
}

.hero-room__button {
  background-color: rgba(0, 0, 0, 0.4);
  @include tablet {
    transform: translateY(-32px);
  }
  @include desktop {
    position: absolute;
    bottom: 18px;
    right: 85px;
  }
}

.hero-room__slider {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.hero-room__swiper {
  z-index: 100;
  width: 100%;
  height: 100%;
}

.hero-room__slider-buttons {
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include tablet {
    padding-left: 47px;
    padding-right: 47px;
  }
  @include desktop {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.slider-button {
  fill: var(--active-color);
  background-color: rgba(0, 0, 0, 0.65);
  border: 0;
  cursor: pointer;
}

.hero-room__location {
  background-color: rgba(0, 0, 0, 0.4);
  @include desktop {
    display: none;
  }
}
