<section class="room tripleroom">
  <div class="container">
    <!-- Title, descripton -->
    <div class="room__container-about room__container-about--reverse">
      <div class="room__description room__description--flex-end">
        <p class="room__subtitle">Готель</p>
        <p class="room__logo room__logo--translate">Mimiho</p>
        <h2 class="room__title room__title--reverse">Трьохмісний номер</h2>
        <p class="room__about room__about--reverse">
          Дві кімнати, двоспальне ліжко, тумбочки біля ліжка, настільні лампи,
          обідній стіл на 6 персон із стільцями, крісла, розкладний диван, в
          кожній кімнаті LCD-телевізори, радіоприймачі, шафа, місце для багажу,
          ванна кімната, халат.
        </p>
      </div>
      <!-- Main image -->

      <div class="room__thumb room__thumb--reverse">
        <img
          class="room__img room__img--left"
          srcset="
            ./images/room/mobile/tripleroom.jpg     244w,
            ./images/room/tablet/tripleroom.jpg     400w,
            ./images/room/desktop/tripleroom.jpg    460w,
            ./images/room/mobile/tripleroom@2x.jpg  488w,
            ./images/room/tablet/tripleroom@2x.jpg  800w,
            ./images/room/desktop/tripleroom@2x.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px"
          src="./images/room/mobile/tripleroom.jpg "
          alt="Room image"
        />
      </div>
    </div>
    <div class="room__box room__box--reverse">
      <div class="slider room__slider room__slider--right">
        <div class="swiper room__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/room/slider/others/sofa.jpg     194w,
                  /src/images/room/slider/desktop/sofa.jpg    254w,
                  /src/images/room/slider/others/sofa@2x.jpg  388w,
                  /src/images/room/slider/desktop/sofa@2x.jpg 508w
                "
                src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="sofa"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/room/slider/others/mirror.jpg     194w,
                  /src/images/room/slider/desktop/mirror.jpg    254w,
                  /src/images/room/slider/others/mirror@2x.jpg  388w,
                  /src/images/room/slider/desktop/mirror@2x.jpg 508w
                "
                src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="mirror"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/minslider/hotel/livingroom-194.jpg 194w,
                  /src/images/minslider/hotel/livingroom-245.jpg 245w,
                  /src/images/minslider/hotel/livingroom-254.jpg 254w,
                  /src/images/minslider/hotel/livingroom-388.jpg 388w,
                  /src/images/minslider/hotel/livingroom-490.jpg 490w,
                  /src/images/minslider/hotel/livingroom-508.jpg 508w
                "
                src="/src/images/minslider/hotel/livingroom-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="livingroom"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/minslider/hotel/bathroom-194.jpg 194w,
                  /src/images/minslider/hotel/bathroom-245.jpg 245w,
                  /src/images/minslider/hotel/bathroom-254.jpg 254w,
                  /src/images/minslider/hotel/bathroom-388.jpg 388w,
                  /src/images/minslider/hotel/bathroom-490.jpg 490w,
                  /src/images/minslider/hotel/bathroom-508.jpg 508w
                "
                src="/src/images/minslider/hotel/bathroom-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="bathroom"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/minslider/hotel/towels-194.jpg 194w,
                  /src/images/minslider/hotel/towels-245.jpg 245w,
                  /src/images/minslider/hotel/towels-254.jpg 254w,
                  /src/images/minslider/hotel/towels-388.jpg 388w,
                  /src/images/minslider/hotel/towels-490.jpg 490w,
                  /src/images/minslider/hotel/towels-508.jpg 508w
                "
                src="/src/images/minslider/hotel/towels-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="towels"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/room/slider/others/bathroom.jpg     194w,
                  /src/images/room/slider/desktop/bathroom.jpg    254w,
                  /src/images/room/slider/others/bathroom@2x.jpg  388w,
                  /src/images/room/slider/desktop/bathroom@2x.jpg 508w
                "
                src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="bathroom"
              />
            </div>

            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/room/slider/others/room.jpg     194w,
                  /src/images/room/slider/desktop/room.jpg    254w,
                  /src/images/room/slider/others/room@2x.jpg  388w,
                  /src/images/room/slider/desktop/room@2x.jpg 508w
                "
                src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="room"
              />
            </div>

            <div class="swiper-slide">
              <img
                srcset="
                  /src/images/minslider/hotel/hotel-amenities-194.jpg 194w,
                  /src/images/minslider/hotel/hotel-amenities-245.jpg 245w,
                  /src/images/minslider/hotel/hotel-amenities-254.jpg 254w,
                  /src/images/minslider/hotel/hotel-amenities-388.jpg 388w,
                  /src/images/minslider/hotel/hotel-amenities-490.jpg 490w,
                  /src/images/minslider/hotel/hotel-amenities-508.jpg 508w
                "
                src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                sizes="(min-width: 1280px) 254px, 194px"
                alt="sofa"
              />
            </div>
          </div>
          <div
            class="swiper-btns swiper-btns--margin-right room__swiper-btns--reverse"
          >
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="room__buttons">
        <a class="button__booking button__booking--price" href="./room.html"
          >Детальніше</a
        >
        <button
          class="button__booking button__booking--price popup-link"
          type="button"
          data-popup-btn="price"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
